@page "/auth"

@using Microsoft.AspNetCore.Authorization

@*sempre q tiver isto para aceder à pagina temos q estar autenticados*@
@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>
