@page "/sobre"

<h3>Sobre</h3>

<p><strong>Nome da Loja:</strong> @AppConfig.tituloHomePage</p>
<p><strong>Endereço:</strong> @AppConfig.enderecoHome</p>
<p><strong>Email:</strong> @AppConfig.mail</p>
<p><strong>Telefone:</strong> @AppConfig.telefone</p>

@code {
    // As propriedades são acessadas diretamente pois são static
}
